*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif ;
    text-transform:capitalize;

}
                                    /* navbar */
.navBar{
    display: flex;
    justify-content: space-between;
}

.navBarLeft{
    display: inline-block;
}
.navLeftItems{
    display: flex;
    align-items: center;
}

.navImg{
    display: inline;
}
.navImg img{
    width: 100px;
}
.navLeftText{
    display: inline;

}

.navLeftText a{
    margin: 10px;
    font-size: 18px;
    font-family:sans-serif ;
    color: #000;
}

.navBarRight{
    display: inline-block;
    margin-top: 4px;
    margin-right: 10px;
}

.navRightItems{
    display: flex;
    align-items: center;
}

.navRightText a{
    margin: 10px;
    font-size: 18px;
    font-family:sans-serif ;
    color: #000;
}

.navRightInput{
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid ;
    margin: 10px;
}

.navRightInput i{
    margin: 10px;
}

.navRightInput input{
    border: none;
}

.basket {
    cursor: pointer;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 56, 56);
    width: 35px;
    height: 30px;
}

.basket i{
    color: #fff;
}



.main{
    margin: 85px 70px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.mainLeft{
    display: inline-block;
}

.mainCategor{
    display: flex;
    flex-direction: column;
}

.mainCategor span{
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
}

.mainSales{
    margin-top: 100px;
    display: inline-block;
}

.saleItem{
    margin: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
}

.saleItem:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.saleItemName{
    font-size: 15px;
}

.saleImg{
    width: 50px;
    height: 65px;
}

.salePrice{
    text-decoration:line-through;
}

.newPrice{
    background-color: rgb(5, 190, 5);
}

.products{
    display: inline-block;
}
.product{
    display: inline-block;
    margin: 20px;
    padding-bottom: 5px;
    width: 28%;
    text-align: center;
    border-radius: 5px;
}


.productImg{
    max-width: 43vh;
    height: auto;
}

.product p{
    margin-bottom: 7px;
}

.product button{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(152, 136, 136, 0.3);
}
.product button:hover{
    background-color: aqua;
}


.element_input{
    width: 25px;
    margin-left: 5px;
    border: 1px solid rgba(83, 80, 80, 0.5);
    border-radius: 5px;
}

